__pycache__
build
profilestats
*cpython*
surf_transform
.vscode 
*.pyd
*.o 
*.pyc
*.dot
.DS_Store
/testdata/FS/*tob*
*.png 
toblerone/ctoblerone.c
scratch.py
/testdata/pvtools
*.pkl
dist
toblerone.egg-info
toblerone/_version.py
.eggs
rebuild.sh
*.code-workspace
toblerone-*