__pycache__
build
profilestats
*cpython*
surf_transform
.vscode 
*.pyd
*.o 
*.pyc
*.dot
.DS_Store
*.png 
toblerone/ctoblerone.c
scratch.py
*.pkl
dist
toblerone.egg-info
toblerone/_version.py
.eggs
rebuild.sh
*.code-workspace
toblerone-*
scratch.py
testdata
.git.bfg-report
toblerone/ctoblerone/ctoblerone.c
